#include <physical_layouts.dtsi>

/ {
    charybdis_physical_layout: charybdis_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Charybdis 4x6";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys
            // Left Half - Main Keys (4x6 grid)
            //                       w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   12       0     0     0>
            , <&key_physical_attrs 100 100  900   12       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300   38       0     0     0>
            , <&key_physical_attrs 100 100 1400   38       0     0     0>
            
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  112       0     0     0>
            , <&key_physical_attrs 100 100  900  112       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  138       0     0     0>
            , <&key_physical_attrs 100 100 1400  138       0     0     0>
            
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  212       0     0     0>
            , <&key_physical_attrs 100 100  900  212       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  238       0     0     0>
            , <&key_physical_attrs 100 100 1400  238       0     0     0>

            // New row (4th row)
            , <&key_physical_attrs 100 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  100  338       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  312       0     0     0>
            , <&key_physical_attrs 100 100  900  312       0     0     0>
            , <&key_physical_attrs 100 100 1000  312       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  312       0     0     0>
            , <&key_physical_attrs 100 100 1300  338       0     0     0>
            , <&key_physical_attrs 100 100 1400  338       0     0     0>

            // Thumb Clusters (5 on left, 3 on right + trackball)
            //                       w   h    x    y     rot    rx    ry
            // Left thumb cluster (5 keys)
            , <&key_physical_attrs 100 100   50  414       0     0     0>
            , <&key_physical_attrs 100 100  150  414       0     0     0>
            , <&key_physical_attrs 100 100  250  414       0     0     0>
            , <&key_physical_attrs 100 100  350  414       0     0     0>
            , <&key_physical_attrs 100 100  450  414       0     0     0>
            
            // Right thumb cluster (3 keys + trackball)
            , <&key_physical_attrs 100 100  950  414       0     0     0>
            , <&key_physical_attrs 100 100 1050  414       0     0     0>
            , <&key_physical_attrs 100 100 1150  414       0     0     0>
            // Trackball position (represented as a key for layout purposes)
            , <&key_physical_attrs 150 150 1300  414       0     0     0>
            ;
    };
};
